#explore-menu {
    max-width: 95%;
}

.menu-text {
    max-width: 90%;
    text-align: center;
    margin: auto;
}

.foodsimage {
    min-height: 80px;
    cursor: pointer;
    border-radius: 10px; 
    transition: transform 0.3s ease, outline 0.3s ease;
}

.foodsimage:hover {
    transform: scale(1.05); 
}

.line {
   height: 2px; 
   margin: 10px 0px;
   background-color: #e2e2e2;
}

img.active {
    outline: 4px solid tomato !important; 
    transform: scale(1.1) !important;  
    border-radius: 50%;
    padding: 2px;
}
/* Hide scrollbar but keep scroll functionality */
.dishes.no-scrollbar {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE and Edge */
}

.dishes.no-scrollbar::-webkit-scrollbar {
  display: none;               /* Chrome, Safari, Opera */
}


