.header {
  height: 34vw;
  margin: 30px auto;
  background: url('/header_img.png') no-repeat center center;
  background-size: cover;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.9;
  
}

.content {
  position: absolute;
  bottom: 10%;
  left: 20px;
  max-width: 50%;
  animation: fadeIn 3s;
}

.content h2 {
  color: white;
}

.content p {
  width: 100%;
  color: white;
  line-height: 1.5;
}


@media (max-width: 768px) {
  .content {
    position: relative;   
    bottom: auto;
    left: auto;
    max-width: 100%;
    text-align: center;
    padding: 20px;
  }

  .content h2 {
    margin-bottom: 10px;
    color: black; 
  }

  .content p {
    text-align: center;
    color: black;
  }

  .content button {
    margin: 15px auto 0 auto;
    display: block;      
  }
  .header{
    height: 400px;
    background-position: center;
  }
}
